<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lx.coupon.dao.sys.SysUserRolesMapper">
    <select id="queryUserBuUserName" parameterType="Map" resultType="Map">
        select su.user_id "userId",
            su.user_name "userName",
            su.icon "iconUrl",
            su.employee_id "employeeId",
            su.enable_flag "enbaleFlag"
         from sys_user su
        where su.user_name = #{UserName}
        and su.password = #{Password}
    </select>

</mapper>